@import "../../assets/css/variables";

.jumbotron {
     width: 100%;
     height: 580px;
     background-color: #EBEBEB;
     padding: 92px 100px;
     .jumbotron-heading {
         font-size: 30px;
         font-weight: bold;
         color: #181A1F;
     }
     .jumbotron-text {
         margin-top: 60px;
         max-width: 920px;
         font-size: 30px;
         color: #8B8B8B;
         font-weight: 400;
         line-height: 40px;
     }
}

.movies-list-section {
    display: block;
    width: 100%;
    padding: 0 100px;
    transform: translateY( -148px);
    .header-2 {
        @include header2;
    }
    .movies-list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 40px;
        column-gap: 40px;
    }
}